- title "Punch", false

%p
  %strong Employee:
  = @punch.employee.display_name
%p
  %strong Punched:
  = @punch.in == 1 ? "In" : "Out"
%p
  %strong Time:
  = @punch.created_at.strftime("%I:%M:%S %p")
