body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

table {
  margin-left: 15%; }
  table td {
    padding-right: 10px;
    font-size: 12px; }

.time_week_day {
  margin-left: 5%; }

.time_total_daily {
  color: #151ca2;
  margin-left: 15%; }

.time_total_weekly {
  color: red;
  margin-left: 5%; }

.time_missing_punch {
  color: #207d3a;
  margin-left: 15%; }

#menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  #menu li {
    margin: 0;
    padding: 0;
    float: left; }
    #menu li a {
      display: block;
      padding: 4px 8px;
      text-decoration: none;
      border: solid black 1px;
      color: black;
      background-color: #aebbe2; }
      #menu li a:hover {
        color: white;
        background-color: #4a63b8; }

#submenu {
  float: left;
  list-style: none;
  border: solid black 1px;
  padding: 15px 14px;
  margin: 24px 0;
  margin-bottom: 50px;
  margin-right: 20px; }
